/* You can add global styles to this file, and also import other style files */
:root {
    --shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*, *:after, *:before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html, body, #root {
    height: 100%;
}

.no-select {
    user-select: none;
}
